# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temp
tmp/
temp/
*.tmp

# Backup files
*.bak
*.orig
*.swp

# Visual Studio Code
.vscode/

# Puppeteer cache
.puppeteer-cache/

# Test artifacts
tests/visual/current/

# GitHub Actions artifacts
**/artifacts/
